{# home page #}
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <p>This site displays real-time airport timetable information.</p>
      <h4>List of Airports</h4>
      <ul>
        {% for airport in airports %}
        <li>
          {{airport|upper}}
          <a href={{'/departure/{0}'.format(airport)}}>Departure</a>
          <a href={{'/arrival/{0}'.format(airport)}}>Arrival</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-5">
      <img src="https://images.unsplash.com/photo-1503365113766-4a362681eac5" width="400" height="300">
    </div>
  </div>
</div>


{% endblock %}